.header__heading{
  position: absolute;
  display: flex;
  margin-top:100px;
  margin-left:100px;
width: 46px;
height: 16px;
margin-left:267px ;
margin-top:118px ;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height */

letter-spacing: -0.02em;

/* secondary text */

color: #566474;

}