.qs__container{
    box-sizing: border-box;

    position: absolute;
    width: 637px;
    height: 158px;
    left: 267px;
    top: 303px;

    border: 1px solid #EBF0F5;
    border-radius: 10px;
}

.qs__heading{
    
    left: 14.89%;
    right: 28.72%;
    margin-top: 30px;
    margin-left: 30px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: #222F3E;
    margin-bottom: 15px;
}



.qs__rank{
    margin-left: 30px;
    display: flex;
}

.qs__trophy{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    background: #F7F8FA;
    border: 1px solid #EBF0F5;
}

.qs__rankdetails{
    display: flex;
    margin-left: 20px;
    flex-direction: column;
}

.qs__rankamount{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    margin-top: -10px;
    /* primary text */
    
    color: #1E272E;
}

.qs__yourrank{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height */

letter-spacing: -0.02em;
margin-top: -35px;
color: #9EAAB7;

}


.qs__divider1{
    box-sizing: border-box;
position: absolute;
width: 1px;
height: 50px;
margin-left: 200px;
margin-top: -70px;
border: 1px solid #EBF0F5;
/* border: 1px solid black; */
border-radius: 10px;
}


.qs__percentile{
    margin-left: 230px;
    display: flex;
    margin-top: -70px;
}

.qs__notepad{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    background: #F7F8FA;
    border: 1px solid #EBF0F5;
}

.qs__percentiledetails{
    display: flex;
    margin-left: 20px;
    flex-direction: column;
}

.qs__percentileamount{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    margin-top: -10px;
    /* primary text */
    
    color: #1E272E;
}

.qs__percentiletxt{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height */

letter-spacing: -0.02em;
margin-top: -35px;
color: #9EAAB7;

}


.qs__divider2{
    box-sizing: border-box;
position: absolute;
width: 1px;
height: 50px;
margin-left: 180px;

border: 1px solid #EBF0F5;
/* border: 1px solid black; */
border-radius: 10px;
}

.qs__ca{
    margin-left: 70px;
    display: flex;
    /* margin-top: -70px; */
}

.qs__tick{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    background: #F7F8FA;
    border: 1px solid #EBF0F5;
}

.qs__cadetails{
    display: flex;
    margin-left: 20px;
    flex-direction: column;
}

.qs__caamount{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    margin-top: -10px;
    /* primary text */
    
    color: #1E272E;
}

.qs__catxt{
    width: 110px;
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height */

letter-spacing: -0.02em;
margin-top: -35px;
color: #9EAAB7;

}