.container{
    display: flex;
    box-sizing: border-box;
position: absolute;
width: 386px;
height: 429px;
left: 940px !important;
top: 127px !important;
border: 1px solid #EBF0F5;
border-radius: 10px;
}

.syllabus__heading{
    position: absolute;
width: 206px;
height: 28px;
left: 44px;
top: 14px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 28px;
/* identical to box height, or 175% */

letter-spacing: -0.02em;

/* primary text */

color: #1E272E;

}


.option1{
    position: absolute;
width: 189px;
height: 21px;
left: 44px;
top: 80px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */

letter-spacing: -0.02em;

/* secondary text */

color: #566474;
}

.progress1{
    display: flex;
    justify-content: space-between;
}


.option1__progress{
    position: absolute;
    margin-left: 250px;;
    /* margin-left: 10px; */
}

.option1__progress{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 28px;
/* identical to box height, or 175% */

letter-spacing: -0.02em;

color: #438AF6;
}



.progressBar1__outer{

    width:180px;
    height:10px;
    /* border: 0.1px solid #438AF6; */
    background-color: rgba(67,138,246,0.1);
    border-radius: 40px;
}

.progressBar1__filled{
    width:144px;
    height:10px;
    background-color: rgba(67,138,246,1);
    border-radius: 40px;
    opacity: 1;
}

.option2{
    position: absolute;
    width: 192px;
height: 21px;
left: 44px;
top: 140px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */

letter-spacing: -0.02em;

/* secondary text */

color: #566474;

}


.progress2{
    display: flex;
    justify-content: space-between;
}



.option2__progress{
    position: absolute;
    margin-left: 250px;;
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;

font-size: 16px;
line-height: 28px;
/* identical to box height, or 175% */

letter-spacing: -0.02em;

color: #FF9142;
}



.progressBar2__outer{

    width:180px;
    height:10px;
    /* border: 0.1px solid #438AF6; */
    background-color: rgba(255,145,66,0.1);
    border-radius: 40px;
}

.progressBar2__filled{
    width:108px;
    height:10px;
    background-color: rgba(255,145,66,1);
    border-radius: 40px;
    opacity: 1;
}



.option3{
    position: absolute;
    width: 189px;
height: 21px;
left: 44px;
top: 200px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */

letter-spacing: -0.02em;

/* secondary text */

color: #566474;

}



.progress3{
    display: flex;
    justify-content: space-between;
}



.option3__progress{
    position: absolute;
    margin-left: 250px;;
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;

font-size: 16px;
line-height: 28px;
/* identical to box height, or 175% */

letter-spacing: -0.02em;

color: #FB5E5E;
}



.progressBar3__outer{

    width:180px;
    height:10px;
    /* border: 0.1px solid #438AF6; */
    background-color: rgba(251,94,94,0.1);
    border-radius: 40px;
}

.progressBar3__filled{
    width:43px;
    height:10px;
    background-color: rgba(251,94,94);
    border-radius: 40px;
    opacity: 1;
}



.option4{
    position: absolute;
    width: 189px;
height: 21px;
left: 44px;
top: 265px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */

letter-spacing: -0.02em;

/* secondary text */

color: #566474;

}


.progress4{
    display: flex;
    justify-content: space-between;
}



.option4__progress{
    position: absolute;
    margin-left: 250px;;
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;

font-size: 16px;
line-height: 28px;
/* identical to box height, or 175% */

letter-spacing: -0.02em;

color: #2EC971;
}



.progressBar4__outer{

    width:180px;
    height:10px;
    /* border: 0.1px solid #438AF6; */
    background-color: rgba(46,204,113,0.1);
    border-radius: 40px;
}

.progressBar4__filled{
    width:172px;
    height:10px;
    background-color: rgba(46,204,113,1);
    border-radius: 40px;
    opacity: 1;
}

